$base-color: #FFF;
$price-discount: #FF0D55;
$cart-backgroud: #525252;
$main-font-family: 'Roboto', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
}
a{
    text-decoration: none;
  }

// @media (max-width:375px){

.container{
    margin: 0;
    padding: 0;
    width: 375px;
    height: 100vh;
}    

.logo{
    height: 60px;
    width: 63px;
    position: relative;
    &__vector33{
        position: absolute;
        width: 55.16px;
        height: 60px;
        left: 4px;
        background-image: url(../img/Vector33.svg);
        background-repeat: no-repeat;
    }
    &__vector34{
        position: absolute;
        display: block;
        width: 63px;
        height: 40.37px;
        // left: 12px;
        top: 13.01px;

        background-image: url(../img/Vector34.svg);
        background-repeat: no-repeat;
    }

}

.logo-wrap{
    // height: 60px;
    // width: 63px;
    margin-left: 12px;
    margin-top: 10px;
   

}

.video{
    width: 343px;
    // height: 253px;
    margin-left: 9px;
    margin-top: 30px;
    position: relative;
    &__frame{
        z-index: 20;
        margin: 103px 0 0 167px;
        
    }
    &__ellipse70{
        z-index: 17;
        margin-left: 136px;
        margin-top: 76px;
    }
    &__rectangle182{
        z-index: 15;
        margin: 11px 0 0 7px;
    }
    &__rectangle181{
        z-index: 13;
        margin: 17px 0 0 13px;
    }
    &__ellipse60{
        margin-left: -15px;
        margin-top: 100px;
        z-index: 10;
        // box-shadow: 0px 4px 30px rgba(238, 61, 72, 0.5);
        // width: 125px;
        // height: 125px;
    }
    &__group2{
        width: 82px;
        height: 43.87px;
        margin-left: 261px;
        margin-top: 1px;
    }

}
.frame{
    position: absolute;
    width: 34px;
    height: 34px;
    // margin-left: 13px;
    // margin-top: 8px;
    background-image: url(../img/Vector35.svg);
    background-repeat: no-repeat;
}
.ellipse70{
    
    position: absolute;
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.rectangle182{
    position: absolute;
    width: 328.01px;
    height: 200.54px;
    border: 3px solid #EE3D48;
    box-sizing: border-box;
    border-radius: 8px;
}
.rectangle181{
    position: absolute;
    width: 315.4px;
    height: 188.01px;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image.png);
    border-radius: 8px;
}
.group2{
    position: absolute;
    background-image: url(../img/Ellipse52.svg);
    background-repeat: space;
}
.seo{
    width: 328px;
    margin-left: 16px;
    // margin-top: 20px;
    margin-bottom: 20px;
    &__title{
        font-family: "Roboto Slab", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 20px;
    }
    &__text{
        height: 95px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: #131313;
    }
    mark {
        color: #EE3D48;
        background: transparent;
    }
}
.advantages{
    width: 328px;
    height: 198px;
    margin-bottom: 80px;
    margin-left: 16px;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }  

}
.box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__frame{
        width: 48px;
        height: 48px;
        flex: none;
        flex-grow: 0;
        position: relative;
        
         &--multi-1{
            position: absolute;
            left: 0%;
            right: 0%;
            top: 9.38%;
            bottom: 43.75%;
            
        }
        &--multi-2{
            position: absolute;
            left: 0%;
            right: 93.75%;
            top: 20.31%;
            bottom: 9.38%;
        }
        &--multi-3{
            position: absolute;
            left: 9.37%;
            right: 9.38%;
            top: 65.62%;
            bottom: 15.62%;
        }
    }
    &__text{
        display: block;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
}
.mcard{
    margin-left: 16px;
    &__caption{
        margin-bottom: 20px;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
    }
}
.msort{
    width: 213px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    &__caption{
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-right: 5px;
    }
    &__list{
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        border: none;
        color: #939598;
        position: relative;
    }
    &__lost select {
        display: none;
    }
}

.bg-card{
    width: 360px;
    // height: 687px;
    background: #FFFFFF;
    margin-top: 20px;
    overflow: hidden;
    padding-left: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    &__title{
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        margin-top: 32px;
        margin-bottom: 3px;
        color: #131313;   
    }
    &__size{
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        mark {
            color: #6A6A6A;
            background: transparent;
        }
        color: #131313;
    }
    &__options-caption{
        width: 80px;
        height: 22px;
        margin-top: 20px;
        padding-top: 4px;
        margin-left: 0px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #EE3D48;
        background: #FAFAFA;
        text-align: center;
        border-bottom: 1px solid red;
    }
    &__option{
        display: block;
        width: 328px;
        height: 8em;
        left: 16px;
        background: #FAFAFA;
        border-radius: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 10px;
    }
    &__option::-webkit-scrollbar {
        width: 5px;
        background-color: #FAFAFA;
    } 
    &__option::-webkit-scrollbar-thumb { 
        max-height: 5px;   
        border-radius: 2px;
        background-color:red;
                   
    }   
    &__item-container{
        display: grid;
        grid-template-columns: 76px 220px 1fr;
        grid-gap: 0.0em;
        width: 328px;
        height: 76px;
    }
    &__item-img{
        width: 60px;
        height: 60px;
        margin: 8px;
        border-radius: 4px;
    }
}
.item-box{
    margin-left: 0px;
    display: flex;
    flex-direction: column;   
    
    &__caption{
        margin-top: 14px;
        margin-bottom: 12px;
        width: 194px;
        height: 18px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }
    &__price{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #EE3D48;
    }
}
.mphoto-slider{
    width: 608px;
    height: 222px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 90%;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
}
.mphoto-slider {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
   margin-top: 16px;
   height: 222px;
}
.slider-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.slider-item img {
    object-fit: none;
    // width: 90%;
    width: 296px;
    height: 222px;
} 
.slider-item--next img{
    width: 296px;
    height: 222px;
    object-fit: cover;
    margin-left: 16px;
    overflow: hidden;
}


.mphoto-slider .previous, .mphoto-slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.mphoto-slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
   
}
.next{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.mphoto-slider .previous:hover,
.mphoto-slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.mphoto-slider .slider-item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
/* The dots/bullets/indicators */
.dot {
cursor: pointer;
width: 8px;
height: 4px;
margin: 0 2px;
background: #D5DAE0;
border-radius: 10px;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
width: 16px;
height: 4px;  
background: #EE3D48;
}

.dot:hover {
background: #ccc;
width: 24px;
}


.checkbox-container{
    width: 16px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-right: 6px;
    color:aqua;
}

.checkbox-other {
    display: block;
    margin: 0 0 0px 0;
    line-height: 15px; 
    width: 15px; 
}
.checkbox-other input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 0px 0 0;
    padding: 0;
    outline: none;
    // transition: background 0.2s ease;
    background: url(../img/checkbox-1.svg) 0 0 no-repeat;
    cursor: pointer;
    border: 0.01rem solid red;
}
 
/* Checked */
.checkbox-other input[type=checkbox]:checked {
    background-image: url(../img/checkbox-2.svg);
    background-color: red;
    color: red;
}
.checkbox-container:hover{
    color: red;
}

.rent-time{
    width: 271px;
    height: 86px;
    margin-bottom: 10px;
    
    &__title{
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
        color: #939598;

    }
    &__crumps{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2px;
       
    }
    &__crumps-item{
        text-align: center;
        margin-bottom: 8px;
        width: 53px;
        height: 26px;
        background: #F1F2F2;
        border-radius: 6px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }
    &__crumps-item--long{
        width: 115px;
    }
    &__crumps-item:hover, &__crumps-item:target{
        background: #EE3D48;
        color: #FFFFFF;
    }
    &__crumps-item:active{
        background: #ccc;
        color: #FFFFFF;
    }
    &__crumps-item:visited{
        background: #EE3D48;
        color: #FFFFFF;
    }        
}
.result{
  width: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #EBEBEB;
  padding-top: 12px;
  margin-bottom: 18px;
  &__price{
    display: block;  
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #131313;
  }
  &__btn{
    height: 40px;
    background: #EE3D48;
    border-radius: 6px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    
  }  
  &__link{
    text-decoration: none;
    color: #FFFFFF;        
  }

}

.mobile_order{
    width: 360px;
    // height: 568px;
    margin-left: 16px;
    background: #FFFFFF;
    // background: #E5E5E5;
    &__table{
        // background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // padding: 0px;
        // width: 328px;
        // height: 280px;
    }
    &__form{
        width: 328px;
        // height: 92px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        border: 1px solid #EE3D48;
        box-sizing: border-box;
        border-radius: 6px;
    }
    &__caption{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        margin-top: 16px;
        margin-bottom: 20px;
        width: 328px;
        // background-color: #FFF;

    }
}
.caption{
   background-color: #FFF;
    &__title{
        display: block;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        color: #131313; 
    }     
    &__btn-close{
        width: 32px;
        height: 32px;
        margin-top: 16px;  
    }
}
.phone{
    width: 156px;
    border: none;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; 
}
.close{
    position: static;
    width: 18px;
    height: 18px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.table-row-item, .table-row-item-new {
    width: 288px;
    height: 50px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    &__caption{
        margin: 0px;
    } 
    &__price{
        text-align: right;
    }
    &__caption-price{
        text-align: right;
    }
}

.table-row-result{
    width: 328px;  
    height: 74px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px;
    border-top: 1px solid #EBEBEB;;
    &__title{
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
    }
    &__price{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: right;
    }
}
.mobile_dropdown{
    width: 158px;
    height: 32px;
    background: #F5F5F5;
    border-radius: 6px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-right: 2px;
    padding-left: 15px;
    &__item {
        background-color: #F5F5F5;
         margin: 0px 10px;
    }
    &--short-days{
        width: 82px;
        height: 32px;
        left: 0px;
        top: 58px;
        border: 1px solid #D5DAE0;
        box-sizing: border-box;
        border-radius: 6px;
    }
}

.result{
    &__btn--big{
        width: 328px;
    }
  }

.faq{
  margin-top: 60px;
  width: 328px;
  margin-left: 16px;
  &__title{
      font-family: "Roboto Slab";
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 20px;
  } 
  &__subtitle{
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #EE3D48;
      margin-top: 1px; //?? strange
  }
}
.faq-container{
  width: 328px;
  // height: 468px;
  margin-bottom: 60px;
 
 }
.question{
  width: 328px;
  height: 48px;   
  background: #FAFAFA;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  &--active{
      font-family: Work Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF; 
      background: #EE3D48;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
  }
  &__title{
      font-family: Work Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px; 
  }

  &__open-box{
      width: 16px;
      height: 9px;
      margin-top: 2px;
      background-image: url(../img/Down.svg);
      background-repeat: no-repeat;
      left: 20.83%;
      right: 20.74%;
      top: 37.49%;
      bottom: 33.32%;
      }
  &__open-box--active{
      background-image: url(../img/Up.svg);
      transform: matrix(1, 0, 0, -1, 0, 0);
      }      
}
   
.answer{
  &__text{
      display: none;
      font-family: Work Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #6A6A6A;
      padding-left: 9px;
      }
  &--active{
      display: block;
  }    
}

.events{
    width: 328px;
    margin-left: 16px;
    // background: #FFF;
    &__title{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    } 
    &__subtitle{
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #EE3D48;
        margin-top: 1px;
    }
}
.events-container{
    width: 328px;
}
.events-list{
    width: 328px;
    
}
.events-list--hidden{
    display: none;
}   
.event-phone{
    width: 328px;
    // height: 479px;
    background: #FAFAFA;
    display: block;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 10px;
    color: #131313;
    &__title{
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        margin-left: 8px;
      
    }
    &__subtitle{
        color: #131313;
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #EE3D48;
        margin-left: 8px;
    }
    &__photo{
        position: relative;
        width: 328px;
        margin-bottom: 20px;
        height: 328px;
        background-image: url(../img/news/photo1.png);
        object-fit: fill;
        background-repeat: cover;
    }
    &__text, &__date{
        margin-top: 8px;
        margin-bottom: 12px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px; 
        margin-left: 8px;
    }
    &__date{
        color: #6A6A6A;
    }
    &__arrow-box{
       width: 40px;
       height: 40px;
       margin-bottom: 1px;
    }
       
}
.arrow{
    position: absolute;
    left: 2.44%;
    right: 85.37%;
    margin-top: 298px;

}
.show-button{
    margin-top: 30px;
    width: 328px;
    height: 40px;
    left: 16px;
    border: 1px solid #EE3D48;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #FAFAFA;
&__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #EE3D48;
}
}
.contacts{
width: 328px;
margin-top: 60px;
margin-left: 16px;
&__title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
}
&__subtitle{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #EE3D48;
}
&__grid{
    display: grid;
    grid-template-areas: 
    "left1 right1"
    "left1 right2";
    grid-template-columns: 44px 1fr;
    grid-template-rows: 34px;
    grid-gap: 0.1em;
}
}
.left1{
margin: 20px 0 10px 0;
}
.right1{
margin: 15px 0 15px 0;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;

}
.right2{
margin: 10px 0;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #6A6A6A;
padding-bottom: 20px;
border-bottom: 1px solid #D5DAE0;;
} 

.map{
margin-top: -11px;
margin-left: -16px;
width: 360px;
height: 360px;  
}
.m-slider{
width: 320px;
height: 320px;  
max-width: 90%;
/* Положение элемента устанавливается относительно его исходной позиции: */
position: relative;

}
.m-slider .slider-item img {
/* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
object-fit: cover;
width: 100%;
height: 222px;
}

.m-slider .m-previous, .m-slider .m-next {
/* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
cursor: pointer;
/* Положение элемента задаётся относительно границ браузера: */
position: absolute;
top: 35%;
width: auto;
margin: -22px -10px;
padding: 10px;

/* Оформление самих кнопок: */
color: rgba(0,0,0, 0.24);
background-color: rgba(0,0,0, 0.24);
font-weight: bold;
font-size: 16px;
/* Плавное появление фона при наведении курсора: */
transition: 0.9s ease;
/* Скругление границ: */
border-radius: 3px;
}
.m-slider .m-next {
right: 0;
border-radius: 3px 0 0 3px;
}
.m-next{
-webkit-transform: scaleX(-1);
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
transform: scaleX(-1);
}

/* Анимация слайдов: */
.m-slider .slider-item {
animation-name: fade;
animation-duration: 1.9s;
}
@keyframes fade {
/* Устанавливаем и изменяем степень прозрачности: */
from {
    opacity: 0.4
}
to {
    opacity: 1
}
}

.gallery-group{
width: 296px;
height: 160px;
margin-left: 12px;
&__caption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
&__title{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin: 12px 0;
}
&__subtitle{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #EE3D48;
}
&__date{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #6A6A6A;
}
&__text{
    width: 296px;
    height: 92px;
    overflow-y:scroll;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    mark {
        color: red;
        text-decoration: underline;
        background: transparent;
    }
}
}
.gallery__btn-close{
position: absolute;
width: 40px;
height: 40px;
left: 307px;
top: -10px;
padding-top: 10px;
padding-left: 1px;
z-index: 10;
background: rgba(0, 0, 0, 0.24);
border-radius: 2px;
}
// }